extend layout

block css
    if config["DEBUG"]
        link(rel="stylesheet", type="text/css", href=url_for("static", filename="css/dataTables.bootstrap.css"))
    else
        link(rel="stylesheet", type="text/css", href=url_for("static", filename="css/dataTables.bootstrap.min.css"))

block js
    if config["DEBUG"]
        script(type="text/javascript", src=url_for("static", filename="js/jquery.dataTables.js"))
        script(type="text/javascript", src=url_for("static", filename="js/dataTables.bootstrap.js"))
    else
        script(type="text/javascript", src=url_for("static", filename="js/jquery.dataTables.min.js"))
        script(type="text/javascript", src=url_for("static", filename="js/dataTables.bootstrap.min.js"))
    script(type="text/javascript").
        $(document).ready(function() {
            setup_player_matches("#matches", "#{url_for('data.player_matches', player=info["name"])}");
        });

block content
    .page-header
        h1= info.name


    if info.blacklisted
        .panel.panel-danger
            .panel-heading Player has been blacklisted
            .panel-body
                p This player has been administratively blacklisted, and as such has been removed from all site rankings. Access to this profile is restricted and opt-out status is forced to on.
                if info.blacklist_reason:
                    p Reason: #{info.blacklist_reason}

    dl.dl-horizontal
        dt First seen
        dd= info.first_seen
        dt Last seen
        dd= info.last_seen
        if info.common_region != None
            dt Common region
            dd= info.common_region

    if ranking == None
        .panel.panel-warning
            .panel-heading No rankings found for player
            .panel-body
                p This player has no rankings recorded in the tracker. This is because the player was only recently detected and has not had their rankings collected yet.
                if g.since_update
                    p The last update occured #{g.last_update} ago.
    else
        dl.dl-horizontal
            for k, v in ranking.items()
                dt= k
                dd
                    if v[0]
                        span.ranking= v[0]
                    if v[1]
                        span.label.label-primary.ranking-label= v[1]

    h2 Stats
    .panel.panel-info
        .panel-heading Player stats are not implemented
        .panel-body
            p Player stats viewing has not been implemented yet. Sorry. :-/

    h2 Matches
    table#matches.table.table-striped.table-bordered

