extend layout

block content
    .page-header
        h1 Login

    form.form-horizontal(action=url_for("auth.login", next=request.args.next), method="post", role="form")
        div!=form.csrf_token
        .form-group
            !{form.username.label(class_="col-sm-2 control-label")}
            .col-sm-2
                !{form.username(class_="form-control", placeholder="Username")}
        .form-group
            !{form.password.label(class_="col-sm-2 control-label")}
            .col-sm-2
                !{form.password(class_="form-control", placeholder="Password")}
        .form-group
            !{form.remember.label(class_="col-sm-2 control-label")}
            .col-sm-2
                !{form.remember(class_="checkbox")}
        .form-group
            .col-sm-offset-2.col-sm-2.btn-group
                !{form.login(class_="btn btn-success")}
                a.btn.btn-default(href=url_for("auth.register", next=request.args.next)) Register
