extend layout

block content
    .page-header
        h1 Login

    form.form-horizontal(action=url_for("auth.register", next=request.args.next), method="post", role="form")
        div!=form.csrf_token
        .form-group
            !{form.username.label(class_="col-sm-2 control-label")}
            .col-sm-2
                !{form.username(class_="form-control", placeholder="Username")}
        .form-group
            !{form.password.label(class_="col-sm-2 control-label")}
            .col-sm-2
                !{form.password(class_="form-control", placeholder="Password")}
        .form-group
            !{form.password_confirm.label(class_="col-sm-2 control-label")}
            .col-sm-2
                !{form.password_confirm(class_="form-control")}
        .form-group
            !{form.email.label(class_="col-sm-2 control-label")}
            .col-sm-2
                !{form.email(class_="form-control", placeholder="Email")}
        .form-group
            .col-sm-offset-2.col-sm-2
                !{form.register(class_="btn btn-success")}
